html {
    text-align: center;
}

.blog {
    max-width: 1200px;
    padding-top: 5vw;
    display: inline-block;
    align-items: center;
    justify-content: center;
}

.blog h1 {
    font-size: clamp(1.2rem, 4vw, 3rem);
    margin-bottom: 5px;
}

.blog h2 {
    font-size: clamp(1.1rem, 1.2vw, 1.5rem);
    margin-bottom: 20px;
}

.blog p {
    font-size: clamp(1rem, 1vw, 1.2rem)
}