html {
  text-align: center;
}
body {
  color: white; 
  background-image: linear-gradient(to top, #050a46, #160a36);
  font-family: "Segoe UI", sans-serif;
  font-weight: heavy;
  overflow-x: hidden;
}  
div.a {
  position:relative;
  bottom: 10px;
}

div.d {
  line-height: 80%;
  position:relative; bottom:50px;
 }
div.c {
  line-height: 80%;
  position:relative; bottom:80px;
}
div.e {
 margin-left: 60px;
 margin-right: 60px;
 position:relative;
}
.profile {
  border-radius: 50%;
  float:left;
  width: 180px;
  height: 180px;
  position:relative; left: 680px; bottom: 15px;
}

div.links {
  display: inline-block; 
  position: relative; 
  top: 20px;
}

.player {
  border-radius: 10px;
  overflow: hidden;
  z-index: 1;
  height: 320px;
  width: 568px;
}
